name: Checks

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            chore
            perf
            refactor
            docs
            test
            build
            ci
          requireScope: false
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: |
            The subject "{subject}" found in the PR title "{title}"
            didn't match the configured pattern. Please ensure that the subject
            doesn't start with an uppercase character.

  lint_and_test:
    name: Lint and test
    runs-on: ubuntu-latest-16core

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: "rustfmt,clippy"

      - name: Run Swatinem/rust-cache@v2
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Run sccache-action
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Set sccache env vars
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Install native dependencies
        run: sudo apt-get update && sudo apt-get install -y clang libclang-dev libtss2-dev

      - name: Build
        run: cargo build --workspace

      - name: Lint
        run: cargo clippy --workspace --all-targets -- -D warnings

      - name: Format check
        run: cargo fmt --all -- --check

      - name: Test
        run: cargo test --workspace
