name: Docker Build

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docker-build:
    uses: ./.github/workflows/docker-build.yaml
    with:
      IMAGE_NAME: conduit-op-reth
    secrets: inherit
