name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE: ghcr.io/${{ github.repository_owner }}/conduit-op-reth

jobs:
  extract-version:
    name: Extract version
    runs-on: ubuntu-latest
    steps:
      - name: Extract version
        run: echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
        id: extract_version
    outputs:
      VERSION: ${{ steps.extract_version.outputs.VERSION }}

  docker:
    name: Build and push Docker image
    runs-on: ubuntu-latest-16core
    needs: extract-version
    env:
      VERSION: ${{ needs.extract-version.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          config-inline: |
            [worker.oci]
              max-parallelism = 4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ env.VERSION }}
            ${{ env.IMAGE }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Verify Docker image runs
        run: |
          IMAGE="${{ env.IMAGE }}:${{ env.VERSION }}"
          echo "Pulling and testing image: $IMAGE"
          docker pull "$IMAGE"
          docker run --rm "$IMAGE" --version
          echo "Docker image run check passed!"

  draft-release:
    name: Create draft release
    runs-on: ubuntu-latest
    needs: [docker, extract-version]
    env:
      VERSION: ${{ needs.extract-version.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate changelog
        id: changelog
        run: |
          echo "CHANGELOG<<EOF" >> $GITHUB_OUTPUT
          echo "$(git log --pretty=format:"- %s" $(git describe --tags --abbrev=0 ${{ env.VERSION }}^)..${{ env.VERSION }})" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create release draft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          body=$(cat <<- ENDBODY
          ## Summary

          TODO: Add a summary of the release.

          ## Docker

          \`\`\`
          docker pull ${{ env.IMAGE }}:${{ env.VERSION }}
          \`\`\`

          ## Changes

          ${{ steps.changelog.outputs.CHANGELOG }}
          ENDBODY
          )

          echo "$body" | gh release create --draft -t "conduit-op-reth ${{ env.VERSION }}" -F "-" "${{ env.VERSION }}"
